*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: 'Nanum Gothic', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  padding: 3rem; }

.header {
  height: 100vh;
  background-image: linear-gradient(to left, #8942a8, #ba382f);
  background-size: 400% 400%;
  text-align: center;
  border: 0.2rem solid black;
  position: relative;
  height: 100vh;
  background-image: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
  animation-name: change;
  animation-duration: 10s;
  animation-timing-function: ease-in-out;
  animation-delay: infinite;
  animation-iteration-count: infinite; }

.heading {
  text-transform: uppercase;
  font-size: 4rem;
  letter-spacing: 2rem;
  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out; }
  .heading-sub {
    display: block; }

.selected {
  background-image: linear-gradient(to right, rgba(156, 43, 37, 0.502), rgba(242, 102, 51, 0.502));
  border-radius: 20px; }

.nav-bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  /* background-image: linear-gradient(to right, rgba(156, 43, 37, 0.502), rgba(242, 102, 51, 0.502)); */
  background-color: black;
  overflow: hidden;
  margin: 2rem;
  border-radius: 5rem;
  border: 0.2rem solid black;
  animation: fadeIn 1s ease-out; }

.nav-item {
  letter-spacing: 0.5rem;
  opacity: 1;
  text-transform: uppercase;
  font-weight: 700;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  float: left;
  font-size: 2.3rem; }
  .nav-item-sub {
    float: right; }
  .nav-item:hover {
    background-color: white;
    color: black; }

#icon-container {
  margin-top: 2rem;
  display: inline-block;
  position: absolute;
  margin-left: 35rem; }

.material-icons {
  font-size: 3rem;
  color: white;
  letter-spacing: 20px !important; }

.container {
  width: 81rem;
  height: auto;
  margin: 1.5rem auto 0 auto;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%); }
  .container::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s; }
  .container::after {
    background-color: #ffffff; }
  .container::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }
  .container-animated {
    animation: moveInBottom .5s ease-out .75s;
    animation-fill-mode: backwards; }

.box {
  display: inline-block;
  width: 18rem;
  height: 18rem;
  margin: 0 1rem 0.5rem 1rem;
  border-radius: 3rem;
  /* animation-name: moveInRight;
animation-duration: 1s;
animation-timing-function: ease-out; */
  border: 2px solid black; }
  .box-anim {
    animation-name: moveInRight;
    animation-duration: 1s;
    animation-timing-function: ease-out; }
  .box:hover {
    transform: translateY(-3px);
    box-shadow: 0 5px rgba(0, 0, 0, 0.3);
    cursor: pointer; }

.message {
  letter-spacing: 2rem;
  opacity: 1;
  text-transform: uppercase;
  font-weight: 700;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  float: center;
  font-size: 2.3rem; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  50% {
    opacity: 0.5; }
  100% {
    opacity: 1; } }

@keyframes change {
  0% {
    background-position: 0 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0 50%; } }
